/*

Site developed by Marc Lloyd

1) Reset
2) Typography
3) Global styles
4) Reusable Modules and Classes
5) Forms
6) Bespoke Elements
7) Responsive / Break points
8) Print Styles
*/

/*********** Reset ***********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********** Typography ***********/

p{
    margin:0 0 1em 0;
    line-height:1.5em;
    font-size:0.875em;
}
h1, h2, h3, h4, h5, h6{
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    font-weight:300;
    color:#222;
}
h1{
    font-size:1.857em;
    margin:0 0 1em 0;
    font-weight:400;
}
h1 strong{
    color:#111;
}
h2{
    font-size:1.13em;
    margin:0 0 1em 0;
}
h3{
    font-size:1.286em;
    margin:0 0 1em 0;
}
h4{
    font-size:1.143em;
    margin:0 0 1em 0;
}
h5{
    font-size:1em;
    margin:0 0 1em 0;
}
strong{
    font-weight:700;
}

/*********** Global ***********/

body{
    font:100%/1.5em;
    font-family:'helvetica neue',  helvetica, arial, sans-serif;
    color:#333;
    -webkit-text-size-adjust:100%;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}
a{
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    color:#333;
}
a:hover{
    color:#000;
}
a:focus{
    outline:thin dotted;
}
a:hover, a:active{
    outline:0;
}
ul, ol, dl{
    margin:0 0 18px 20px;
    padding:0;
}
ul{
    margin:0;
    list-style:none;
}
li{
    margin:0 0 8px;
    padding:0;
}

/*============ Layout =============*/

.wrapper{
    padding:30px 30px 30px 130px;
}

/*============ Reusable Modules and Classes =============*/

.main-nav{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    background:#f7f7f7;
    border-right:1px solid #e3e3e3;
    width:100px;
    padding:30px 0;
}
.main-nav img{
    width:70px;
    height:auto;
    display:block;
    margin:0 auto 30px;
}
.main-nav a{
    display:block;
    text-align:center;
    text-decoration:none;
    font-size:0.75em;
    text-transform:uppercase;
    color:#777;
}
.main-nav .fa{
    display:block;
    margin:0 0 10px;
    color:#dc0032;
    font-size:1.2em;
}
.main-nav a:hover{
    color:#dc0032;
}
.sub-nav{
    border-top:1px solid #e3e3e3;
    border-bottom:1px solid #e3e3e3;
    padding:20px 0;
    margin:0 0 30px;
}
.sub-nav a{
    text-decoration:none;
    font-size:0.75em;
}
.sub-nav i{
    margin-right:6px;
}
.card{
    position:relative;
    text-decoration:none;
    display:inline-block;
    vertical-align:top;
    width:300px;
    min-height:130px;
    padding:30px;
    border:1px solid #e3e3e3;
    border-radius:5px;
    box-shadow:0 1px 0 rgba(0,0,0,0.1);
    margin:0 20px 20px 0;
}
.more{
    position:absolute;
    bottom:20px;
    right:20px;
    font-size:0.75em;
}
.more i{
    position:relative;
    top:1px;
    margin-left:4px;
}
a.card:hover{
    background:#f7f7f7;
    box-shadow:inset 0 0 2px rgba(0,0,0,0.1);
}
.card-id{
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#fff;
    background:#e3e3e3;
    font-size:0.75em;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
.card h2 i{
    color:#e3e3e3;
    margin-right:4px;
}
.card.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}
.card.ng-enter.ng-enter-active {
    opacity:1;
}
.module-loader{
    padding:20px;
    text-align:center;
}
.module-loader i{
    color: #dc0032;
    font-size: 18px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*============ Responsive =============*/

@media (max-width:900px){

}