<section>
    <h1 ng-if="post && user">Comments for <strong>"{{post.title}}"</strong> post by <strong>{{user.name}}</strong></h1>

    <div class="module-loader" ng-if="!comments"><i class="fa fa-spinner" aria-hidden="true"></i></div>

    <nav class="sub-nav" ng-if="comments">
        <a href="#/posts/{{user.id}}"><i class="fa fa-backward" aria-hidden="true"></i> Back to posts</a>
    </nav>

    <article href="#/posts/{{u.id}}" ng-repeat="c in comments" class="card comment">
        <h2><i class="fa fa-comment-o" aria-hidden="true"></i> {{c.name}}</h2>
        <p>
            {{c.body}}
        </p>
    </article>
</section>