<section>
    <h1>Users</h1>

    <div class="module-loader" ng-if="!users"><i class="fa fa-spinner" aria-hidden="true"></i></div>

    <a href="#/posts/{{u.id}}" ng-repeat="u in users" class="card">
        <div class="card-id">{{u.id}}</div>
        <h2>{{u.name}}</h2>
        <p>
            Username: <strong>{{u.username}}</strong><br />
            Email:  <strong>{{u.email}}</strong><br />
        </p>
        <span class="more">view posts <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
    </a>
</section>