<section>
    <h1 ng-if="user">Posts by <strong>{{user.name}}</strong></h1>

    <div class="module-loader" ng-if="!posts"><i class="fa fa-spinner" aria-hidden="true"></i></div>

    <nav class="sub-nav" ng-if="posts">
        <a href="#/"><i class="fa fa-backward" aria-hidden="true"></i> Back to Users</a>
    </nav>

    <a href="#/post/{{user.id}}/comments/{{p.id}}" ng-repeat="p in posts" class="card">
        <div class="card-id">{{p.id}}</div>
        <h2>{{p.title}}</h2>
        <p>
            {{p.body}}
        </p>
        <span class="more">view comments <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
    </a>
</section>